.welcome-terminal {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .terminal-output {
    flex-grow: 1;
    overflow-y: auto;
  }

  .terminal-input {
    display: flex;
    align-items: center;
  }

  .prompt {
    margin-right: 10px;
  }
}
